// app global css in Sass form

.text-avatar1 {
  color: #bae1ff;
}

.bg-avatar1 {
  color: #bae1ff;
}

.text-avatar2 {
  color: #baffc9;
}

.text-avatar3 {
  color: #ffffba;
}

.text-avatar4 {
  color: #ffdfba;
}

.text-avatar5 {
  color: #ffb3ba;
}

.bg-avatar2 {
  color: #baffc9;
}

.bg-avatar3 {
  color: #ffffba;
}

.bg-avatar4 {
  color: #ffdfba;
}

.bg-avatar5 {
  color: #ffb3ba;
}
